@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~leaflet/dist/leaflet.css'; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "rubik";
  src: local("rubik"), url("./assets/font/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "indonesia-script";
  src: local("indonesia-script"), url("./assets/font/Indonesia\ Script.otf");
}

.font-rubik {
  font-family: "rubik";
}

.font-indo {
  font-family: "indonesia-script";
}

.card:hover {
  background: linear-gradient(180deg, rgba(234, 172, 48, 0.00) 50%, rgba(248, 171, 35, 0.59) 100%);
  /* background-color: bl; */
}

/* .title-container {
  max-width: 500px;
} */

.title-container p {
  display: inline-block;
  word-wrap: break-word;
}

.title-container p::first-line {
  max-width: 100px;
  display: inline-block;
  overflow: hidden;
}

.title-container p::after {
  /* content: ""; */
  /* display: block; */
  /* width: 100%; */
  max-width: 1000px;
}